@if(areNonePublished()){
    <p>Désolé, il n'y à pas encore d'articles ici !</p>
    }
    @else 
    {
    @for(article of articles;track $index){
    
    @if(article.isPublished){<div>
        <h2 [ngClass]="{'popular':article.likes > 100}" [ngStyle]="{'color':article.likes>150?'red':'green'}">{{article.title}}</h2>
        <p>{{article.author}}</p>
        <p>{{article.content}}</p>
        <img src="{{article.image}}">
        <p>{{article.comment}}</p>
        <p>Likes : {{article.likes}}</p>
    </div>
    }
    }
    }
